# Composer
/vendor/

# Laravel / Symfony
/.env

# PHPUnit
/phpunit.xml
/phpunit.xml.dist

# IDEs and editors
/.idea/
/.vscode/
/*.sublime-project
/*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
